.container{
  .spinner{
    height: 32px;   
    animation: spinner 1s steps(12) infinite;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0eg);
  }
  to {
    transform: rotate(360deg);
  }
}